<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="GraphTestPackage" version="1.0.0" targetFramework="net452" />
  <package id="GraphX" version="2.3.3.0" targetFramework="net452" />
  <package id="QuickGraph" version="3.6.61119.7" targetFramework="net452" />
  <package id="QuickGraphPCL" version="3.6.61114.2" targetFramework="net452" />
</packages>